html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Verdana;
    font-weight: normal;
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline {
    font-weight: normal;
    font-size: 50px;
}

a {
    color: aquamarine;
    font-size: 16px;
}

