html,
body {
    margin: 0;
    font-family: Verdana;
    font-weight: normal;
}

body {
    position: relative;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

.subtitle {
    font-size: 21px;
    color: gray;
}

a {
    color: aquamarine;
    font-size: 16px;
}

video {
    margin-top: 1rem;
}

.phone-icon {
    padding-top: 2rem;
}

.watermark {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

